- content_for :head do
  = javascript_include_tag "admin/quiz.js"
.container
  = form_for @quiz, html: { class: "form-horizontal", role: "form" } do |f|
    .form_group
      .col-sm-offset-2
        %h1 Add new quiz
      = hidden_field_tag :course_id, @quiz.course.slug
    .form-group
      = f.label :title, class: "col-sm-2 control-label"
      .col-sm-8
        = f.text_field :title, class: "form-control"
    .form-group
      = f.label :description, class: "col-sm-2 control-label"
      .col-sm-8
        = f.text_area :description, class: "form-control resize_vertical"
    .form-group
      .col-sm-offset-2.col-sm-8
        = f.check_box :published
        = f.label :published
    = f.fields_for :questions do |builder|
      = render 'question_fields', f: builder
    .inserter
    .form-group
      .col-sm-offset-2.col-sm-8
        = link_to_add_fields "Add Question", f, :questions, class: "add_question_link"
    .form-group
      .col-sm-offset-2.col-sm-8
        = f.submit "Create Quiz", class: "btn btn-default"