.container
  %h1 Add new quiz
  = form_for @quiz, html: { class: "form-horizontal" } do |f|
    = hidden_field_tag :course_id, @quiz.course.slug
    .form-group
      = f.label :title, class: "col-sm-1 control-label"
      .col-sm-5
        = f.text_field :title, class: "form-control"
    .form-group
      = f.label :description, class: "col-sm-1 control-label"
      .col-sm-5
        = f.text_area :description, class: "form-control"
    .form-group
      .col-sm-offset-1.col-sm-5
        = f.check_box :published
        = f.label :published, class: "control-label"
    .form-group
      .col-sm-offset-1.col-sm-5
        = f.submit "Create Quiz", class: "btn btn-default"