= content_for :head do
  = javascript_include_tag "admin/quiz.js", 'data-turbolinks-track' => true
.container
  .col-sm-9
    %h2= @quiz.title
    %br
    - @quiz.questions.each_with_index do |question, idx|
      .panel.panel-success{ id: "question_#{question.id}" }
        .panel-heading
          .row.panel-title
            %h3.pull-left
              %span.label.label-success= "Question: #{idx + 1}"
            %h3.pull-right
              %span.label.label-success= pluralize(question.points, "point")
            .clearfix
          %hr.question_horizontal_line
          .row.question-content-view-quiz
            = markdown(question.content)
        .panel-body
          - question.answers.each do |answer|
            .exam.input-group
              .input-group-addon
                = check_box_tag "student_answer_ids[]", nil, (true if answer.correct?), disabled: true
              .form-control-static
                %label.answer-view-quiz
                  = markdown(answer.content)
                %label.answer_actions
                  = link_to "#", remote: true do
                    %i.fa.fa-edit.fa-1x
                  = link_to "#", remote: true do
                    %i.fa.fa-times-circle.fa-1x
      %hr
    .form-group
      .col-sm-8
        = link_to "Back", admin_course_path(@quiz.course), class: "btn btn-default btn-lg"
