%nav.navbar.navbar-default.layout(role="navigation")
  .container
    .navbar-header
      = link_to "Quizzer", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav.navbar-right
      - if current_admin.instructor?
        %li= link_to "Admin Management", management_admins_path, class: "btn btn-default"
      %li= link_to "Dashboard", '', class: "btn btn-default"
      %li= link_to "Courses", admin_courses_path, class: "btn btn-default"
      %li= link_to "Exams", admin_exams_path, class: "btn btn-default"
      %li= link_to "Enrollments", '', class: "btn btn-default"
      %li= link_to current_admin.email, '', class: "btn btn-default"
      %li
        = link_to admin_sign_out_path, method: :delete, class: "btn btn-default" do
          %i.fa.fa-sign-out
          Sign out