%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar-collapse")
        %span(class="sr-only") Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: "navbar-brand" do
        %i.fa.fa-leaf
        Quizzer
    .collapse.navbar-collapse#navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li=# link_to "My Exams", exams_path, class: "btn btn-default"
          %li
            = link_to '', class: "btn btn-default" do
              = image_tag current_user.avatar_url, class: "student-avatar", alt: "avatar", size: "20x20"
              %span= current_user.username
          %li
            = link_to sign_out_path, method: :delete, class: "btn btn-default" do
              %i.fa.fa-sign-out
              Sign out
        - else
          %li
            = link_to github_sign_in_path, class: "btn btn-default" do
              %i.fa.fa-github
              %span.sign_in_btn_text Sign in with GitHub
  .container= render 'shared/flash_messages'
    