.modal.fade#answerFormModal(tabindex="-1" role="dialog" aria-labelledby="Answer" aria-hidden="true")
  .modal-dialog
    .modal-content
      = bootstrap_form_for @answer, layout: :vertical, remote: true do |f|
        .modal-header
          %button.close(type="button" data-dismiss="modal")
            %span(aria-hidden="true") &times;
          %h4.modal-title
            %i.fa.fa-edit
            Edit answer
        .modal-body.clearfix
          .answer_flash
            = render "shared/flash_messages"
          .answer_errors
            = render "shared/errors", obj: @answer
          = f.check_box :correct, label: "Tick if answer is correct."
          = f.text_area :content, rows: 5, label: "Answer's content:", placeholder: "You can use markdown.", class: "resize_vertical"
        .modal-footer
          %button(type="button" class="btn btn-default btn-lg btn-tealeaf" data-dismiss="modal") Close
          = f.submit "Submit changes", class: "btn btn-default btn-lg btn-tealeaf"