

.modal.fade#enrollmentFormModal(tabindex="-1" role="dialog" aria-labelledby="Enrollment" aria-hidden="true")
  .modal-dialog
    .modal-content
      = form_for @enrollment, html: { class: "form-horizontal", role: "form" }, remote: true do |f|
        .modal-header
          %button.close(type="button" data-dismiss="modal")
            %span(aria-hidden="true") &times;
          %h4.modal-title
            %i.fa.fa-leaf
            Enroll Course with Tealeaf!
        .modal-body.clearfix
          .enrollment_errors
            = render "errors"
          = f.hidden_field :course_id
          %fieldset(data-toggle="buttons")
            = f.label :paid, class: "btn btn-default btn-enroll active", id: "free" do
              = f.radio_button :paid, 0, checked: true, autocomplete: "off"
              %span Free
            = f.label :paid, class: "btn btn-default btn-enroll", id: "paid" do
              = f.radio_button :paid, 1, checked: false, autocomplete: "off"
              %span Signature Track
          %fieldset.credit_card(style="display: none;")
            %h3 Get certified with Tealeaf for $19.99
            %p
              Upon successfull course completion you will receive certificate on
              %span= image_tag("linkedin_logo.jpg", size: "66x20", alt: "LinkedIn logo")
            %span.payment-errors
            .form-group
              %label.control-label.col-sm-4(for="credit_card_number") Credit Card Number
              .col-sm-8
                %input.form-control#credit_card_number(type="text" size="20" data-stripe="number")
            .form-group
              %label.control-label.col-sm-4(for="security_code") Security Code
              .col-sm-3
                %input.form-control#security_code(type="text" size="4" data-stripe="cvc")
            .form-group
              %label.control-label.col-sm-4 Expiration
              .col-sm-3
                = select_month(Date.today, {add_month_numbers: true}, data: { stripe: "exp-month" }, name: nil, class: 'form-control')
              .col-sm-2
                = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, data: { stripe: "exp-year" }, name: nil, class: 'form-control')
          %fieldset.honor_code
            %h3 Sign the Tealeaf Honor Code
            %p All students participating in the course must agree to abide by the following code of conduct:
            %ol
              %li I will register for only one account
              %li My answers to homework, quizzes and exams will be my own work.
              %li I will not engage in any other activities that will dishonestly improve my results.
            = f.label :honor_code, class: "checkbox inline honor_code_check_box" do
              = f.check_box :honor_code
              %span.honor_code_span I agree
        .modal-footer
          %button(type="button" class="btn btn-default" data-dismiss="modal") Close
          = f.submit "Enroll now!", class: "btn btn-default"