= content_for :head do
  %script(type="text/javascript" src="https://js.stripe.com/v2/")
  :javascript
    Stripe.setPublishableKey('#{ENV["STRIPE_PUBLISHABLE_KEY"]}');
  = javascript_include_tag 'enroll'
.jumbotron.tealeaf
  .container.after-nav
    .ta-leaf
      %span.ta-title Tealeaf Academy
      - if @courses.any?
        %span
          %em(style="display: none") presents
        %ul.course-list.no-bullets
          - @courses.each do |course|
            %li(style="display: none")= course.title
.container
  - @courses.each do |course|
    .row{ id: "course_#{course.id}" }
      .col-sm-7
        .course-main-wrapper
          - if course.image_cover_url.nil?
            %img.img-responsive(src="http://dummyimage.com/667x320/000/fff.png&text=Course+image" alt="Course Image")
          - else
            = image_tag(course.image_cover_url, alt: course.title, class: "img-responsive")
          %h3= course.title
          %br
          %p.bg-primary
            = preserve do
              = markdown course.description
          %br
          - if logged_in? && current_user.has_enrolled?(course)
            = link_to course, class: "btn btn-default btn-lg btn-tealeaf col-sm-12" do
              %span.glyphicon.glyphicon-play-circle
              Continue with exams
          - elsif logged_in?
            = link_to new_enrollment_path(course_id: course.id), class: "btn btn-default btn-lg btn-tealeaf col-sm-12", remote: true do
              %span.glyphicon.glyphicon-log-in
              Enroll now
          - else
            = link_to github_sign_in_path, class: "btn btn-default btn-lg btn-tealeaf col-sm-12" do
              %i.fa.fa-github
              %span.sign_in_btn_text Sign in with GitHub
          .clearfix
      .col-sm-5
        .course-details-wrapper
          .instructor-image
            - if course.instructor.username == "Chris"
              = image_tag "chris.jpg", alt: "course.instructor.full_name", size: "150x150", class: "img-responsive"
            - else
              = image_tag "kevin.jpg", alt: "course.instructor.full_name", size: "150x150", class: "img-responsive"
          .course-info
            .info
              %span.head Instructor
              %span.tail.instructor-name= course.instructor.full_name
            .info
              %span.head Duration
              %span.tail= course.duration
            .info
              %span.head Quizzes to pass
              %span.tail= course.min_quiz_count
            .info
              %span.head Technology
              %span.tail tags, tags, tags, tags, tags
          .course-price
            = image_tag "certification_award.jpg", alt: "Certificate", size: "50x50", class: "img-responsive"
            %span.head Price
            %span.tail= number_to_currency course.price_dollars
    %hr
.enrollments_hook