= content_for :head do
  %script(type="text/javascript" src="https://js.stripe.com/v2/")
  :javascript
    Stripe.setPublishableKey('#{ENV["STRIPE_PUBLISHABLE_KEY"]}');
  = javascript_include_tag 'enroll'
.tealeaf-banner
  .container.after-nav
    .ta-leaf
      %span.ta-title Tealeaf Academy
      - if @courses.any?
        %span
          %em presents
        %ul.no-bullets
          - @courses.each do |course|
            %li= course.title
.container
  .col-sm-7
    - @courses.each do |course|
      .row{ id: "course_#{course.id}" }
        - if course.image_cover_url.nil?
          %img.img-responsive(src="http://dummyimage.com/667x320/000/fff.png&text=Course+image")
        - else
          = image_tag course.image_cover_url, alt: course.title, class: "img-responsive"
        %h3= course.title
        %br
        %p.bg-primary
          = preserve do
            = markdown course.description
        %br
        - if logged_in? && current_user.has_enrolled?(course)
          = link_to course, class: "btn btn-default btn-lg col-sm-12" do
            %span.glyphicon.glyphicon-play-circle
            Continue with exams
        - elsif logged_in?
          = link_to new_enrollment_path(course_id: course.id), class: "btn btn-default btn-lg col-sm-12", remote: true do
            %span.glyphicon.glyphicon-log-in
            Enroll now
        .clearfix
        %hr
.enrollments_hook