= content_for(:head) do
  = stylesheet_link_tag "pdf2"
.container
  = link_to "Download as PDF", certificate_path(@certificate.licence_number, format: "pdf"), class: "btn btn-default col-sm-2 download-button"
  - if @certificate.student == current_user
    = link_to linked_in_url(@certificate) do
      = image_tag 'AddToProfileButton.png', class: "linkedin-button"
  .content
    .logo
      %div= image_tag 'tealeaf-logo2.jpg'
      .clearfix
      .tealeaf-link
        = link_to "gotealeaf.com", 'http://www.gotealeaf.com'
    .date
      %span.month= @certificate.created_at.strftime("%B").upcase
      %span.day_year= @certificate.created_at.strftime("%d, %Y")
    .certificate_of_accomplishment Certificate of Accomplishment
    .distinction WITH DISTINCTION
    .clearfix
    .licence_number Licence Number:  #{link_to @certificate.licence_number, certificate_url(@certificate.licence_number, format: "pdf")}
    .name= @certificate.enrollment.student.username.upcase
    .has_successfull HAS SUCCESSFULLY COMPLETED TEALEAF ACADEMY'S COURSE OF
    .course_presentation
      .course_image
        = image_tag "ruby2.jpg", size: "460x322"
      .course
        .title= @certificate.course.title
        .description= @certificate.course.description
      .clearfix
    .bottom
      .signatures
        .signature
          = image_tag "chris-sig.jpg", size: "200x75"
          %hr
          .instructor INSTRUCTOR NAME1
          .academy TEALEAF ACADEMY INSTRUCTOR
        .signature
          = image_tag "kevin-sig.jpg", size: "200x75"
          %hr
          .instructor INSTRUCTOR NAME2
          .academy TEALEAF ACADEMY INSTRUCTOR
      .seal
        = image_tag "seal.jpg"
      .clearfix
