.container
  .col-sm-9
    %h2= @quiz.title
    %br
    = form_for [@quiz, @exam] do |f|
      - @quiz.questions.each_with_index do |question, idx|
        .panel.panel-info
          .panel-heading
            %span.pull-left= "#{idx+1}. #{question.content}"
            %span.pull-right
              %strong= pluralize(question.points, "point")
            .clearfix
          .panel-body
            - question.generate_answers.each do |answer|
              = hidden_field_tag "generated_answer_ids[]", answer.id
              = check_box_tag "student_answer_ids[]", answer.id
              = f.label answer.content
              %br
      = f.submit "Submit Answers", class: "btn btn-default"