.container
  .col-sm-9
    %h2= @quiz.title
    %br
    = form_for [@quiz, @exam] do |f|
      - @quiz.questions.each_with_index do |question, idx|
        .panel.panel-info{ id: "question_#{question.id}" }
          .panel-heading
            %h3.panel-title.pull-left= "#{idx+1}. #{question.content}"
            %h3.panel-title.pull-right= pluralize(question.points, "point")
            .clearfix
          .panel-body
            - question.generate_answers.each do |answer|               
              .exam.input-group
                = hidden_field_tag "generated_answer_ids[]", answer.id
                .input-group-addon
                  = check_box_tag "student_answer_ids[]", answer.id, false, id: "answer_#{answer.id}"
                %p.form-control-static
                  %label{for: "answer_#{answer.id}"}
                    = answer.content
      = f.submit "Submit Answers", class: "btn btn-default"