.container
  .col-sm-9
    %h2= @quiz.title
    %br
    = form_for [@quiz, @exam] do |f|
      - @quiz.questions.each do |question|
        .panel.panel-info
          .panel-heading= question.content
          .panel-body
            - question.answers.each do |answer|
              = check_box_tag "student_answer_ids[]", answer.id
              = f.label answer.content
              %br
      = f.submit "Submit Answers", class: "btn btn-default"