.container
  .col-sm-9
    %h2 Results for: #{@quiz.title}
    %br
    - @exam.quiz.questions.each_with_index do |question, index|
      .panel.panel-info
        .panel-heading= "#{index+1}. #{question.content}"
        .panel-body
          %h4 Correct answers
          %ul.no-bullets
            - question.answers_for(@exam) { :generated_answer_ids }.each do |generated_answer|
              - if generated_answer.correct?
                %li= generated_answer.content
          %br
          %h4 Your answers
          %ul.no-bullets
            - question.answers_for(@exam) { :student_answer_ids }.each do |student_answer|
              %li{class: "student-#{'in' unless student_answer.correct?}correct-answer"}= student_answer.content