.container
  .col-sm-9
    %h2 Results for: #{@quiz.title}
    %h3 Score: #{@exam.score} from #{@quiz.total_score} points
    %br
    - @exam.generated_questions.each_with_index do |gq, idx|
      .panel.panel-info{ id: "question_#{gq.question.id}" }
        .panel-heading
          .row.panel-title
            %h3.pull-left
              %span.label.label-info= "Question: #{idx + 1}"
            %h3.pull-right
              %span.label.label-info= pluralize(gq.points, "point")
            .clearfix
          %hr.question_horizontal_line
          .row
            = preserve do
              = markdown(gq.content)
        .panel-body
          - gq.generated_answers.each do |ga|
            .exam.input-group{ class: "#{ga.correctly_answered? ? 'has-success has-feedback' : 'has-error has-feedback'}" }
              .input-group-addon
                = check_box_tag "", nil, ga.student_marked?, id: "answer_#{ga.answer.id}", disabled: true
              .form-control-static
                - if ga.correctly_answered?
                  %span.glyphicon.glyphicon-ok.form-control-feedback
                - else
                  %span.glyphicon.glyphicon-remove.form-control-feedback
                %label{for: "answer_#{ga.answer.id}"}
                  = preserve do
                    = markdown(ga.content)
        .panel-footer
          - if gq.yield_points?
            %strong You earned #{pluralize(gq.points, "point")}.
          - else
            %em One of the answers was wrong or missing.
  .col-sm-9
    = link_to "Back to course area", course_path(@quiz.course), class: "btn btn-default"