.container
  .col-sm-9
    %h2 Results for: #{@quiz.title}
    %br
    - @exam.quiz.questions.each_with_index do |question, index|
      .panel.panel-info
        .panel-heading= "#{index+1}. #{question.content}"
        .panel-body
          %h4 Correct answer
          %ul.no-bullets
            - question.generated_answers(@exam).each do |generated_answer|
              - if generated_answer.correct?
                %li= generated_answer.content
          %br
          %h4 Your answer
          %ul.no-bullets
            - question.student_answers(@exam).each do |student_answer|
              %li{class: "student-#{'in' unless student_answer.correct?}correct-answer"}= student.answer.content