.container
  = bootstrap_form_for [:admin, @course], layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", html: { "data-parsley-validations" => '' } do |f|
    = f.text_field :title
    = f.text_area :description, rows: 5
    = f.text_field :duration, control_col: "col-sm-3"
    = f.select :instructor_id, Admin.instructors.collect { |a| [ a.username, a.id ] }, label: "Instructors"
    = f.text_field :min_quiz_count, control_col: "col-sm-3", label: "Quizzes to pass"
    = f.file_field :image_path
    = f.form_group do
      = f.submit "Create Course"