.container
  .row
    .pull-left
      %h2 All Quizzes within - #{@course.title}
    .pull-right
      = link_to new_quiz_path(course_id: @course.slug), class: "btn btn-default new_quiz_button" do
        %span.glyphicon.glyphicon-plus
        New Quiz
    .clearfix
    %hr
  .col-sm-7
    - @course.quizzes.each do |quiz|
      .row{ id: "quiz_#{quiz.id}" }
        %h3= quiz.title
        %br
        = link_to new_quiz_exam_path(quiz), class: "btn btn-default btn-lg" do
          %span.glyphicon.glyphicon-play-circle
          Start Quiz
        / =# link_to edit_quiz_path(quiz), class: "btn btn-default btn-lg" do
        /   %span.glyphicon.glyphicon-edit
        /   Edit
        / =# link_to quiz, class: "btn btn-default btn-lg" do
        /   %span.glyphicon.glyphicon-zoom-in
        /   View
        .clearfix
        %hr(style="padding: 5px 0px;")