!!! 5
%html(lang="en-US")
  %head
    %title Quizzer
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/shim'
    = yield :head
  %body
    - if logged_in_admin?
      = render 'shared/admin_header'
    - else
      = render 'shared/header'
    = yield
    = render 'shared/footer'