!!! 5
%html(lang="en-US")
  %head
    %title Quizzer
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/shim'
    = yield :head

    - if Rails.env.staging?
      -# <!-- Global site tag (gtag.js) - Google Analytics -->
      %script(async src="https://www.googletagmanager.com/gtag/js?id=UA-126743631-1")
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-126743631-1');

  %body
    - if logged_in_admin?
      = render 'shared/admin_header'
    - else
      = render 'shared/header'
    = yield
    = render 'shared/footer'